{{ with .Site.Params.about }}
<div class="aside__about">
    {{ with .logo }}<span class="about__logo" role="img">{{ . }}</span>&nbsp;{{ end }}
    {{ with .logo_image }}<img class="about__logo" src="{{ . | absURL }}" alt="Logo">{{ end }}
    <h1 class="about__title">{{ .title }}</h1>
    {{ with .description }}<p class="about__description">{{ . | markdownify }}</p>{{ end }}
</div>
{{ end }}

<section class="aside__details">
    <h2>PGP</h2>
    <p>
        <a href="/pgp/hello@karebski.dev.asc">Public key</a><br>
        <small>Fingerprint: <code>AFFA A509 6D9A 0DDE 5386 2448 3B72 E02F FD36 C8A6</code></small>
    </p>

    <h2>Certifications</h2>
    <ul>
        <li>
            <a href="https://www.credly.com/org/google-cloud/badge/professional-cloud-architect-certification">Professional Cloud Architect</a><br>
            <small>Expires: 2028-05-31</small>
        </li>
        <li>
            <a href="https://www.credly.com/org/the-linux-foundation/badge/cks-certified-kubernetes-security-specialist">CKS: Certified Kubernetes Security Specialist</a><br>
            <small>Expires: 2027-05-28</small>
        </li>
        <li>
            <a href="https://www.credly.com/org/the-linux-foundation/badge/cka-certified-kubernetes-administrator">CKA: Certified Kubernetes Administrator</a><br>
            <small>Expired: 2025-08-10</small>
        </li>
        <li>
            <a href="https://www.credly.com/org/the-linux-foundation/badge/ckad-certified-kubernetes-application-developer">CKAD: Certified Kubernetes Application Developer</a><br>
            <small>Expired: 2022-08-07</small>
        </li>
        <li>
            <a href="https://www.credly.com/org/microsoft-certification/badge/microsoft-certified-azure-security-engineer-associate">Microsoft Certified: Azure Security Engineer Associate</a><br>
            <small>Expired: 2023-03-17</small>
        </li>
        <li>
            <a href="https://www.credly.com/org/oracle/badge/oracle-certified-associate-java-se-8-programmer">Oracle Certified Associate, Java SE 8 Programmer</a><br>
            <small>Does not expire</small>
        </li>
    </ul>
    <p><a href="https://www.credly.com/users/mikolaj-karebski">View all certifications on Credly</a></p>
</section>

<ul class="aside__social-links">
    {{ range $item := .Site.Params.socialLinks }}
    <li>
        <a href="{{ $item.url }}" rel="me" aria-label="{{ $item.title }}" title="{{ $item.title }}"><i class="{{ $item.icon }}" aria-hidden="true"></i></a>&nbsp;
    </li>
    {{ end }}
</ul>
